In [14]:
import pandas as pd
import numpy as np

In [15]:
df= pd.read_excel('Education_1.xlsx')
df.head()

,Entity,Year,Expected Years of Schooling,"Government expenditure on education, total (% of GDP)","Government expenditure on education, total (% of government expenditure)",Expenditure on primary education (% of government expenditure on education),"Unemployment, total (% of total labor force)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, youth (ages 15-24), gender parity index (GPI)"
0,Arab States (UNDP),1990,8.747189,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab States (UNDP),1991,8.793226,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab States (UNDP),1992,8.883311,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab States (UNDP),1993,9.001940,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab States (UNDP),1994,9.131453,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6271 entries, 0 to 6270
Data columns (total 9 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Entity                                                                       6271 non-null   object
 1   Year                                                                         6271 non-null   int64
 2   Expected Years of Schooling                                                  6271 non-null   float64
 3   Government expenditure on education, total (% of GDP)                        3238 non-null   float64
 4   Government expenditure on education, total (% of government expenditure)     3088 non-null   float64
 5   Expenditure on primary education (% of government expenditure on education)  1664 non-null   float64
 6   Unemployment, total (% of total labor force)                                 3025 non-null   float64
 7   Literacy rate, adult total (% of people ages 15 and above)                   846 non-null    float64
 8   Literacy rate, youth (ages 15-24), gender parity index (GPI)                 884 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 441.1+ KB

In [17]:
df.shape

(6271, 9)

In [18]:
df.isnull().sum()

Entity                                                                            0
Year                                                                              0
Expected Years of Schooling                                                       0
Government expenditure on education, total (% of GDP)                          3033
Government expenditure on education, total (% of government expenditure)       3183
Expenditure on primary education (% of government expenditure on education)    4607
Unemployment, total (% of total labor force)                                   3246
Literacy rate, adult total (% of people ages 15 and above)                     5425
Literacy rate, youth (ages 15-24), gender parity index (GPI)                   5387
dtype: int64

In [19]:
def interpolate_cols(df, cols):
    for col in cols:
        df[col] = df.groupby('Entity')[col].apply(lambda x: x.interpolate(limit_direction='both'))
    return df

In [20]:
cols_to_interpolate = ['Government expenditure on education, total (% of GDP)','Government expenditure on education, total (% of government expenditure)','Expenditure on primary education (% of government expenditure on education)','Unemployment, total (% of total labor force)','Literacy rate, adult total (% of people ages 15 and above)','Literacy rate, youth (ages 15-24), gender parity index (GPI)']
df = interpolate_cols(df, cols_to_interpolate)

In [21]:
df.isnull().sum()

Entity                                                                            0
Year                                                                              0
Expected Years of Schooling                                                       0
Government expenditure on education, total (% of GDP)                          1119
Government expenditure on education, total (% of government expenditure)       1173
Expenditure on primary education (% of government expenditure on education)    1652
Unemployment, total (% of total labor force)                                   1193
Literacy rate, adult total (% of people ages 15 and above)                     1955
Literacy rate, youth (ages 15-24), gender parity index (GPI)                   2002
dtype: int64

In [22]:
#df= df[df['Year']>=2000]

In [23]:
df.isnull().sum()

Entity                                                                            0
Year                                                                              0
Expected Years of Schooling                                                       0
Government expenditure on education, total (% of GDP)                          1119
Government expenditure on education, total (% of government expenditure)       1173
Expenditure on primary education (% of government expenditure on education)    1652
Unemployment, total (% of total labor force)                                   1193
Literacy rate, adult total (% of people ages 15 and above)                     1955
Literacy rate, youth (ages 15-24), gender parity index (GPI)                   2002
dtype: int64

In [24]:
count = df.Entity.unique().size
count

204

In [26]:
df.to_csv('Education_fi.csv', index=False)

For data transformation, grouped by entity and used interpolation to fill the missing values. There are few missing values even after transformation, since few countries dont have values for any years. Some of the null values are dropped in power bi query and some are left as it is since removing all null values affects countries from demographics dataset and also dataset is filtered for years after 2000.